body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0 0 0);
  color: #f5f5f5;

  header {
    border: #363636 1px solid;
    padding: 0 16px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: rgb(0 0 0);

    ul {
      padding-left: 0;

      margin: 12px auto;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        i {
          font-size: 24px;
          border: 1px solid white;
        }
      }
      li {
        border: 1px solid black;
      }
    }
  }

  main {
    height: fit-content;
    
    > section:nth-child(1) {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 130px 47px;

      margin-top: 16px;
      height: 200px;
      > div:nth-child(1) {
        border: 2px solid white;
        border-radius: 50%;

        height: fit-content;
        overflow: hidden;
        align-self: end;

        width: 85px; /* circle size */
        height: 85px;
        grid-column: 1;
        grid-row: 1 / span 2;
        justify-self: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      > div:nth-child(2) {
        grid-column: 2;
        grid-row: 1; // first row, second column

        //border: yellow 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 20px;
        > div:nth-child(1) {
          span {
            font-size: larger;
          }
          i {
            font-size: 24px;
          }
        }

        > div:nth-child(2) {
          display: flex;
          gap: 10px;
          > button:nth-child(1) {
            background-color: #25292e;
            border: none;
            color: #f5f5f5;
            padding: 0 16px;
            font-size: 14px;
            border-radius: 10px;
            width: 130px;
            font-weight: 550;
          }
          > button:nth-child(2) {
            background-color: #25292e;
            border: none;
            color: #f5f5f5;
            padding: 0 16px;
            font-size: 14px;
            border-radius: 10px;
            width: 100px;
            font-weight: 550;
          }
        }
      }
    }

    > section:nth-child(2) {
      > div:nth-child(1) {
        width: 95%;
        margin: auto;
      }

      > div:nth-child(2) {
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
        > div:nth-child(1) {
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 5px;
          > div:nth-child(1) {
            border: 2px solid white;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: center;
          > div:nth-child(1) {
            border: 2px solid white;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        > div:nth-child(3) {
          display: flex;
          flex-direction: column;
          gap: 5px;

          text-align: center;
          > div:nth-child(1) {
            border: 2px solid white;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }

    > section:nth-child(3) {
      height: 150px;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: #f5f5f5;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      height: fit-content;
      flex-wrap: wrap;
      row-gap: 17px;

      > div:nth-child(1) {
        height: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 31%;
        span {
          font-weight: bold;
        }
        p {
          color: #a8a8a8;
          margin: 0;
          font-size: 16px;
        }
      }
      > div:nth-child(2) {
        height: fit-content;
        text-align: center;
        width: 31%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          font-weight: bold;
        }
        p {
          color: #a8a8a8;
          margin: 0;
          font-size: 16px;
        }
      }
      > div:nth-child(3) {
        height: fit-content;
        text-align: center;
        width: 31%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          font-weight: bold;
        }
        p {
          color: #a8a8a8;
          margin: 0;
          font-size: 16px;
        }
      }
      > div:nth-child(4) {
        width: 31%;
        height: fit-content;
        text-align: center;
        font-size: larger;
      }
      > div:nth-child(5) {
        width: 31%;
        height: fit-content;
        text-align: center;
        font-size: larger;
      }
      > div:nth-child(6) {
        width: 31%;
        height: fit-content;
        text-align: center;
        font-size: larger;
      }
    }

    > section:nth-child(4) {
      height: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      > div:nth-child(1) {
        height: 60%;
        width: 80%;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        > div:nth-child(1) {
          > div:nth-child(1) {
            border: #f5f5f5 1px solid;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              font-size: 36px;
              color: #f5f5f5;
            }
          }
        }
        > h1 {
          font-weight: 600;

          text-align: center;
          margin: 0;
        }
        > span {
          font-size: 14px;
          text-align: center;
        }
        > div:nth-child(4) {
          color: #85a1ff;
        }
      }
    }

    footer {
      border-top: #f5f5f5 1px solid;
      height: 40px;
      position: sticky;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #000;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      div {
        i{
          font-size:large ;
        }
      }
    }
  }
}
